<% content_for :title do   %>
  <ol class="breadcrumb">
    <li>Accounts</li>
    <li><%= link_to 'Services', services_path %></li>
  </ol>
<% end %>
<% content_for :section do %>Service <%= @service.display_name %><% end %>

<%= render 'form' %>
