# Docker compose name prefix
COMPOSE_PROJECT_NAME=myapp

# Generate a secret using `rake secret`
SECRET_KEY_BASE=mysecretkeybase

# Database (only in production)
POSTGRES_HOST=/var/run/postgresql
POSTGRES_DB=thalariond
POSTGRES_USER=thalariond
POSTGRES_PASS=thalariond

# Redis (only in production)
REDIS_URL=redis://redis:6379

# Mailer
MAILER_DEFAULT_HOST=localhost   # defaults to 'localhost'
MAILER_DEFAULT_PORT=8080        # defaults to '80'
MAILER_DEFAULT_PROTO=http       # defaults to 'http'
MAILER_SENDER="MyApp <myapp@mydomain.com>"
MAILER_HOST=mydomain.com
MAILER_PORT=587
MAILER_DOMAIN=mydomain.com
MAILER_USER=myapp@mydomain.com
MAILER_PASS=myapp
MAILER_AUTH=plain
MAILER_STARTTLS=true

# Mailer exceptions (only in production)
MAILER_EXCEPTION_SENDER="MyApp Exceptions <myapp@mydomain.com>"
MAILER_EXCEPTION_RECIPIENT=admin@mydomain.com

# LDAPd
# LDAPD_DISABLE=anything
LDAPD_BINDADDR=127.0.0.1
# Don't forget to change this port in docker-compose.yml too
LDAPD_PORT=1389
LDAPD_BASEDN=dc=thalarion,dc=be
# LDAPD_SSL_CERT=/path/to/ssl/certificate
# LDAPD_SSL_KEY=/path/to/private/key
# LDAPD_SSL_CA_PATH=/path/to/ca/certificate
# LDAPD_SSL_DHPARAMS=/path/to/dhparams
