/**
 * dashboard.scss - Dashboard stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Thalarion Panel
 *
 * */

.signout-banner {
  @include link-color($light-grey, underline);

  font-size: .8em;

  display: flex;
  align-items: center;
}

.toolbar {
  margin-top: -2.5rem;
}

.attribute-table td {
  @extend .p-x-1;

  &:first-child {
    @extend .text-xs-right;
    color: $grey;
  }
}

/**
 * Navigation
 *
 * */
nav {
  @extend .p-y-2;
  @extend .p-a-3;

  font-size: .8rem;
  font-weight: 300;
}

.nav-logo {
  opacity: 0.4;

  &:hover { opacity: 0.6; }
}

/* Tab navigation */
.nav.nav-tabs {
  border: 0;
  border-bottom: 1px solid $line-color;

  .nav-link {
    border: 0;

    color: $dark-grey;
    &:hover { color: $grey; }

    &.active {
      border-bottom: 4px solid $color-primary;

      color: $color-primary;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
    }
  }
}

.breadcrumb {
  background: 0;
  padding: 0;
  margin: 0;

  a,
  a:active,
  a:hover,
  a:focus {
    color: $light-grey;
  }
}

/* invert label colors */
.nav-link.active .label-default {
  background-color: white;
  color: $gray-light;
}
