<div class="signin-container">
  <div class="container">
    <h1>Unlock account</h1>
    <div class="container">
      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <% if flash.any? %>
        <div class="row">
          <div class="ten columns offset-by-one">
            <%= render 'partials/messages' %>
          </div>
        </div>
        <% end %>
        <div class="row">
          <div class="five columns offset-by-two">
            <%= f.email_field :email, placeholder: "Email address", autofocus: true, :class => "white-input u-full-width" %>
          </div>
          <div class="three columns">
            <%= f.submit "Send instructions", :class => "button white-button u-full-width" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
