<% content_for :title do   %>
  <ol class="breadcrumb">
    <li>Admin</li>
    <li><%= link_to 'OAuth2', oauth_applications_path %></li>
  </ol>
<% end %>
<% content_for :section do %>OAuth2 application <%= @application.name %><% end %>

<%= render 'form', application: @application %>
