<nav>
  <ul>
    <li class="active">
      <a href="#">
        <i class="fa fa-dashboard"></i> <strong>Dashboard</strong>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-user"></i> <strong>Users</strong>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-users"></i> <strong>Groups</strong>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-server"></i> <strong>Services</strong>
      </a>
    </li>
  </ul>
</nav>
