<span class="u-pull-right">
  <% if can? :create, Group %>
    <%= link_to 'Add', new_group_path, :class => 'button button-primary-color u-pull-right' %>
  <% end %>
</span>
<h4>Groups</h4>
<hr>

<% if (current_user.groups.any? or current_user.can?( :list, Group)) %>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Group name</th>
        <th>Membership status</th>
        <th>Owner</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% Group.all.each do |group| %>
        <% if current_user.can? :read, group %>
          <tr>
            <td>
              <strong><%= link_to group.display_name, group_path(group) %></strong>
            </td>
            <td>
              <% if group.owner == current_user %>
                Owner
              <% elsif group.users.include? current_user %>
                Member
              <% else %>
                Not a member
              <% end %>
            </td>
            <td>
              <% if group.owner %>
                <%= link_to group.owner.first_name + ' ' + group.owner.last_name, user_path(group.owner) %>
              <% else %>
                <em>No owner defined</em>
              <% end %>
            </td>
            <td>
              <% if can? :update, group %>
                <%= link_to 'Manage', edit_group_path(group),
                      :class => 'button button-small' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
