<% content_for :title do   %>
  <ol class="th breadcrumb">
    <li>Accounts</li>
    <li><%= link_to 'Group', groups_path %></li>
  </ol>
<% end %>
<% content_for :section do %>New group<% end %>

<%= render 'form' %>
