<span class="u-pull-right">
  <% if can? :update, @group %>
    <%= link_to 'Edit', edit_group_path(@group), :class => 'button' %>
  <% end %>
</span>
<h4><%= @group.display_name %></h4>
<hr>

<div class="row">
  <h5>Members</h5>
  <div class="five columns">
    <% if @group.users.length == 0 %>
      <p><em>No members</em></p>
    <% end %>
    <table class="u-full-width">
      <% @group.users.each do |user| %>
        <tr>
          <td><%= link_to user.first_name + ' ' + user.last_name, user_path(user) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="five columns">
  </div>
</div>
