<% content_for :title do   %>
  <ol class="breadcrumb">
    <li>Accounts</li>
    <li><%= link_to 'Users', users_path %></li>
  </ol>
<% end %>
<% content_for :section do %><%= @user.display_name %><% end %>

<%= render 'form' %>
