<%= render 'partials/header' %>
<div class="row">
  <div class="three columns">
    <%= render 'partials/navigation' %>
  </div>
  <div class="nine columns main-content">
    <div class="main-title">Main content</div>
    <main>Test</main>
  </div>
</div>
