<h4>Home</h4>
<hr>
<div class="row">
  <div class="four columns">
    <div class="info-panel info-panel-color-1">
      <div class="row">
        <h2>99</h2> <h5>users</h5>
      </div>
      <div class="row info-panel-actions">
        <%= link_to "Details &raquo;".html_safe, users_path, :class => "white-text" %>
      </div>
    </div>
  </div>
  <div class="four columns"></div>
  <div class="four columns"></div>
</div>
