default: &default
  bindaddr: 127.0.0.1
  port: 1389
  base_dn: dc=mydomain,dc=com

development:
  <<: *default

production: &production
  <<: *default
  ssl_cert: ldap.cert
  ssl_key: ldap.key
  # ssl_ca_path: ca.pem
  # ssl_dhparams: dhparams.pem

staging:
  <<: *production
  port: 2389

test:
  <<: *default
