<div id="authentication-sessions-new-view">
  <authentication-sessions-new-view :errors="<%= resource.errors.full_messages %>"></authentication-sessions-new-view>
</div>

<%= javascript_pack_tag 'authentication/sessions/new'%>
<%= stylesheet_pack_tag 'authentication/sessions/new'%>
