<% content_for :title do   %>Accounts<% end %>
<% content_for :section do %>Roles<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a href="#all" role="tab" class="nav-link active" data-toggle="tab">All</a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="all">
    <table class="table">
      <thead>
        <tr>
          <th>Role</th>
          <th>Order</th>
        </tr>
      </thead>
      <tbody>
        <% if @roles.empty? %>
          <tr>
            <td colspan="2" class="text-xs-center">
              <em>No roles found</em>
            </td>
          </tr>
        <% end %>
        <% @roles.each do |role| %>
          <tr>
            <td>
              <strong><%= link_to role.display_name, role_path(role) %></strong>
            </td>
            <td>
              <%= role.order %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
