/**
 * utilities.scss - SCSS/CSS utilities
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Thalarion Panel
 *
 * */

@mixin link-color($color, $decoration-hover: underline) {
  a:not(.btn) {
    text-decoration: none;
    color: $color;

    &:visited,
    &:focus,
    &:hover,
    &:active {
      text-decoration: $decoration-hover;
      color: $color;
    }
  }
}

.block  { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }
