/**
 * variables.scss - Variables
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Thalarion Panel
 *
 * */

$color-primary: #F34541;

$very-light-grey: #FAFAFA;
$light-grey: #AEAEAE;
$grey: #929292;
$dark-grey: #555;

$line-color: rgba(0, 0, 0, 0.1);

$border-radius: 4px;

/* Bootstrap */
$brand-primary: $color-primary;
$input-border-focus: $color-primary;
