@import "variables";
@import "fontawesome";
@import "hint";
@import "bootstrap";

@import "*";

body,
html {
  font-family: 'Raleway', 'HelveticaNeue', 'Arial', sans-serif;
}

/* Italic placeholders */
::-webkit-input-placeholder { font-style: italic; }
::-moz-placeholder { font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { font-style: italic; } /* ie */
input:-moz-placeholder { font-style: italic; }
