/**
 * Thalariond style sheet
 *
 * All overriden Bootstrap classes must have the extra 'th' class
 *
 * */

@import "variables";

$fa-font-path: "fontawesome/fonts/";
@import "fontawesome/scss/font-awesome";
@import "font-roboto/src/styles/roboto";
@import "raleway/raleway.css";

@import "hint/dist/hint.min.css";

@import "bootstrap/scss/bootstrap";

$nprogress-color: $color-primary;
@import "nprogress";

@import "bootstrap-toggle/css/bootstrap-toggle.min.css";

@import "form";
@import "navigation";
@import "table";
@import "typography";

/* views */
@import "signin";

body,
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.toolbar {
  margin-top: -40px;
}

.user-banner {
  font-size: 12px;
  color: $light-grey;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  span:first-child {
    margin-right: 10px;
  }
}

/**
 * Overrides and fixes
 *
 * */
.alert button.close {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: Roboto
}

em {
  /* Robot only has italic font weight 400 */
  font-style: normal;
}

/* Italic placeholders */
::-webkit-input-placeholder { font-style: italic; }
::-moz-placeholder { font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { font-style: italic; } /* ie */
input:-moz-placeholder { font-style: italic; }
