/**
 * Dashboard
 *
 * */

$bg-color-1: #06B17C;
$bg-color-2: #FA7E4C;
$bg-color-3: #C59D35;

$fg-color-1: #FFFFFF;

.info-panel {
  margin: 0 .2rem;

  width: 100%;
  height: 10rem;
  vertical-align: baseline;

  h1, h2, h3, h4, h5, h6 {
    display: inline;
    margin-right: 1rem;
    vertical-align: bottom;
  }

  .info-panel-body {
    padding: 2rem;
  }

  .info-panel-actions {
    padding: 1rem;
    width: calc(100% - 2rem);

    text-align: right;
  }

  @mixin info-panel-color($bg-color, $fg-color) {
    background: $bg-color;
    color: $fg-color;

    .info-panel-actions { background: darken($bg-color, 5%); }
  }

  &.info-panel-color-1 { @include info-panel-color($bg-color-1, $fg-color-1); }
  &.info-panel-color-2 { @include info-panel-color($bg-color-2, $fg-color-1); }
  &.info-panel-color-3 { @include info-panel-color($bg-color-3, $fg-color-1); }
}
