/**
 * Header
 *
 * */
header {
  width: 100%;
  height: $header-height;

  background: $primary-color;
  color: white;

  .header-container {
    display: inline-block;
    line-height: $header-height;
    height: $header-height;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .logo {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .search-input {
    background-color: lighten($primary-color, 15%);
    border: 0;
    color: white;

    &:focus {
      background-color: lighten($primary-color, 20%);
      border: 0;
      color: white;
    }

    &::-webkit-input-placeholder {
      color: white;
    }
  }

  .search-input-wrapper:after {
    position: absolute;
    color: $primary-color;
    content: "\f002";
    font-family: 'FontAwesome';
    margin-left: -2.25rem;
  }

  ul {
    list-style: none;

    a {
      outline: none;
    }

    li {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;

      color: white;
      text-decoration: none;

      &:hover {
        background-color: darken($primary-color, 5%);
      }
    }
  }
}

.avatar {
  width: 2rem;
  height: 2rem;

  &.avatar-xl {
    width: 10rem;
    height: 10rem;
  }

  background: white;
  border: 2px solid white;

  margin-right: 5px;
  vertical-align: middle;
}

.dropdown-menu {
  position:absolute;
  top: 5rem;
  right: 0;

  display: none;
  margin: 0;

  background: lighten($primary-color, 10%);

  position: absolute;

  li {
    width: 20rem;
    padding: 0rem 2rem;
    margin: 0;
  }
}
