/**
 * Header
 *
 * */

$color: $light-grey;

nav {
  background-color: lighten($color, 5%);
  height: 100%;

  ul {
    list-style: outside none;

    li {
      position: relative;
      margin: 0;

      a {
        display: block;
        width: calc(100% - 3rem);
        padding: 1.5rem;

        &,
        &:hover,
        &:active,
        &:focus,
        &:visited {
          color: grey;
          text-decoration: none;
        }

        &:hover {
          background-color: $color;
        }
      }

      &.active a {
        background-color: $primary-color;
        color: white;

        &:after {
          position: absolute;
          display: inline-block;
          right: -0.5rem;
          content: "";
          background: white;
          top: 2rem;
          height: 1rem;
          width: 1rem;
          transform: rotate(45deg);
        }
      }
    }
  }
}
