/**
 * Sign in page
 *
 * */

.signin-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  color: white;
  text-align: center;

  padding-top: 5rem;

  background: black;
  background-image: image-url('background' + random($backgrounds) + '.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  a:link,
  a:visited,
  a:active {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-decoration: underline;
  }

  .title {
    margin-bottom: 5rem;
    font-size: 5rem;
    font-weight: 200;
  }

  .row {
    margin-top: 1rem;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="submit"],
  input[type="button"] {
    padding: 10px 10px;
    width: 100%;

    border: 1px solid white;
    border-radius: 4px;
    background-color: white;

    color: black;
    font-size: 13px;
    font-family: 'Sans', sans-serif;
  }

  input[type="submit"],
  input[type="button"] {
    border: 1px solid white;
    background-color: transparent;

    color: white;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
  }
}
