/**
 * Sign in page
 *
 * */
$signin-color: #253438;
$signin-border-color: lighten($signin-color, 15%);

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;

  a { outline: none; }

  input[type="button"],
  input[type="submit"] {
    width: 100%;
  }

  .help-text {
    width: 100%;

    font-size: .8em;
  }
}
