/**
 * Tables
 *
 * */

.th.table {
  @extend .table;

  th {
    border-top: 0;
  }

}

.th.attribute-table tr {
  td {
    @extend .p-x;
  }

  td:first-child {
    @extend .text-right;
    color: $grey;
  }
}
