/**
 * Titles
 *
 * */

.title-main {
  font-size: .8rem;
  color: $light-grey;
  text-transform: uppercase;
}

.title-section {
  font-size: 2rem;
  color: $dark-grey;
  font-size: 200;
}

.title-nav {
  margin-top: .5rem;
  margin-bottom: .5rem;

  font-size: .8rem;
  color: $light-grey;
  text-transform: uppercase;
}

.title-heading {
  position: relative;

  text-align: center;

  &::before {
    content: "";

    z-index: 1;
    position: absolute;
    top: 50%;
    display: block;

    width: 100%;
    height: 1px;
    border-top: 1px solid $line-color;
  }

  h3 {
    position: relative;
    display: inline-block;
    z-index: 2;

    padding-left: .5rem;
    padding-right: .5rem;

    background-color: white;
    font-size: .8rem;
    color: $light-grey;
    text-transform: uppercase;
  }
}
