/**
 * Color scheme
 *
 * */

/* Number of backgrounds */
$backgrounds: 5;

$light-grey: #AEAEAE;
$dark-grey: #555;
$grey: #929292;

$line-color: rgba(0, 0, 0, 0.1);

/**
 * Bootstrap overrides
 *
 * */
$brand-primary: #F34541;
$input-border-focus: $brand-primary;

/**
 * Bootstrap hacks
 * */
.alert.alert-info a {
  color: #31708F;
}
.alert.alert-warning a {
  color: #8a6d3b;
}
