/**
 * Color scheme
 *
 * */
$primary-color: #F34541;
$secondary-color: #4CAF50;

$dark-grey: #929292;
$light-grey: #E7E7E7;

/**
 * Header
 *
 * */
$header-height: 5rem;


$bg-color-1: #06B17C;
$bg-color-2: #FA7E4C;
$bg-color-3: #C59D35;

$fg-color-1: #FFFFFF;
