/**
 * Color scheme
 *
 * */

/* Number of backgrounds */
$backgrounds: 6;

$light-grey: #AEAEAE;
$dark-grey: #555;
$grey: #929292;

/**
 * Bootstrap overrides
 *
 * */
$brand-primary: #F34541;


$primary-color: #F34541;
$secondary-color: #4CAF50;

$bg-color-1: #06B17C;
$bg-color-2: #FA7E4C;
$bg-color-3: #C59D35;

$fg-color-1: #FFFFFF;
