<% content_for :title do   %>
  <ol class="th breadcrumb">
    <li>Mail</li>
    <li><%= link_to 'Emails', mail_path %></li>
  </ol>
<% end %>
<% content_for :section do %>Email <%= @email %><% end %>

<% if @email.permission_group %>
  <div class="alert alert-info">
    The permission group <strong><%= @email.permission_group.name %></strong> will be renamed when changing the email's local part.
  </div>
<% end %>

<%= render 'form' %>
