<% content_for :title do   %>
  <ol class="breadcrumb">
    <li>Mail</li>
    <li><%= link_to 'Emails', mail_path %></li>
  </ol>
<% end %>
<% content_for :section do %>New email<% end %>

<%= render 'form' %>
